beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
cliff==2.8.0
cmd2==0.7.8
configparser==3.5.0
cssselect==1.0.1
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kaggle-cli==0.12.13
lxml==4.0.0
MarkupSafe==1.0
MechanicalSoup==0.8.0
pbr==3.1.1
prettytable==0.7.2
progressbar2==3.34.3
PyBluez==0.22
pyparsing==2.2.0
pyperclip==1.6.0
python-utils==2.2.0
PyYAML==3.12
requests==2.18.4
six==1.11.0
stevedore==1.28.0
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.0.1
Werkzeug==0.15.3
